$border-radius: 10px;
$border-radius-small: 0.3rem;
$base: #F2FAFB;
$base-border: #A9C7C1;
$base-highlight: #e8e8e8;
$site-bg: white;
$main-bg: white;
$light-bg: #f5f5f5;
$white-transparent: rgba(255, 255, 255, 0.5);
$accent: #2CC4EB;
$mid-bg: #188EAC;
$mid-bg-transparent: #188EAC80;
$muted: #333;
$form-input-bg: white;
$large-text: 14pt;
$small-text: 9pt;
$main-width: 1200px;
$global-padding: 3rem;
$small-padding: 0.3rem;
$mid-padding: 0.6rem;
$header-margin: 2rem;

@mixin screen-sm {
    @media screen and (max-width: 768px) {
    	@content;
    }
}

@mixin screen-lg {
    @media screen and (min-width: $main-width) {
    	@content;
    }
}

@mixin flex-wrap($direction) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: wrap;
}

@mixin flex-centre {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin inline-flex-centre {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* GLOBAL STYLES */

body {
    font-family: "Outfit";
	background: $site-bg;
	min-height: 100vh;
	max-width: 100vw;
	@include flex-wrap(column);
    @include screen-sm {
        font-size: 13pt;
    }
}

%header {
	font-weight: bold;
}

h1, h2, h3 {
	@extend %header;
}

a {
	color: $mid-bg;
}

a.link-current {
	font-weight: bold;
	&::after {
		content: "◀";
	}
}

%number-badge-container {
	position: relative;
	.number-badge {
		position: absolute;
		top: -$small-padding;
		right: -$small-padding;
		font-size: $small-text;
	}
}

%button {
    background-color: $base;
    height: 2rem;
    border-radius: 1rem;
	@include inline-flex-centre();
    color: black;
	a {
		color: black;
	}
}

.button-pill {
	@extend %button;
	min-width: 10rem;
	border: none;

	&:hover {
		text-decoration: none;
		color: initial;
		background-color: $base-highlight;
	}
}

.button-circle {
	@extend %button;
	width: 2rem;
}

.upside-down {
	transform: rotate(180deg);
}

.fake-link {
	cursor: pointer;
}

.small {
	font-size: $small-text;
}

.large {
	font-size: $large-text;
}

.monospace {
	font-family: monospace;
}

.invisible-button {
	background: none;
	border: none;
	cursor: pointer;
}

/* BOOTSTRAP */

.bg-danger {
	color: white;
}

.modal-dialog {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	@include flex-centre();
}


/* NAVIGATION */
nav {
	position: relative;
	@include flex-wrap(row);
    align-items: center;
    width: 100%;
    background-color: $main-bg;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	box-sizing: border-box;
    justify-content: space-between;
    
    a {
        color: black;
        
        &:hover, &:active {
            color: black;
            text-decoration: none;
        }
    }

    %nav-section {
        @include flex-wrap(row);
		gap: 0.8rem;
		justify-content: center;
    }

	.nav-left {
        @extend %nav-section;
		@include screen-sm {
			justify-content: flex-start;
		}
	}

    .nav-right {
        @extend %nav-section;
		@include screen-sm {
			justify-content: flex-end;
		}
    }
    
    %nav-block {
        font-size: 16pt;
        padding: $small-padding;
        border-radius: $border-radius;
    }

	%nav-bordered { 
		@extend %nav-block;
		border: 1px solid black;
	}

    .menu-toggle {
        @extend %nav-block;
        @include flex-centre();
    }
    
    .menu-toggle-circle {
        @extend %nav-bordered;
		@extend %number-badge-container;
        background-color: white;
		@include flex-centre();
        width: 2em;
        height: 2em;
        border-radius: 100%;
		background-size: cover;
		background-position: center;
    }

    %nav-button {
        @extend %nav-block;
        background-color: $accent;
    }

    .nav-button {
        $small-padding: 1.2rem;
        @extend %nav-button;
        padding-left: $small-padding;
        padding-right: $small-padding;
		min-height: 2em;
		@include flex-centre();

        .nav-button-label {
            font-size: 13pt;
            &:not(:first-child) {
                margin-left: 0.8rem;
            }
        }
    }

    .search-form {
        @extend %nav-bordered;
		height: 100%;
		@include flex-centre();
		@include screen-sm {
			width: calc(100% - 3rem);
		}
        
        input {
            border: none;
            font-size: $large-text;
			width: 100%;
        }
    }
    
    .search-form button {
        @extend .invisible-button;
    }

    .collapse-container {
        position: absolute !important;
		z-index: 10;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: $base;

        .collapse.show, .collapse.collapsing {
            justify-content: space-around;
        }
    }

	%logo-style {
        padding: 0 1rem;
        font-size: 24pt;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
	}
    
    .logo {
		@extend %logo-style;

		@include screen-sm {
			display: none;
		}
    }

	.logo-small {
		@extend %logo-style;

		display: none;
		@include screen-sm {
			display: inline-block;
		}
	}
    
    .menu-item {
        display: block;
        padding: $small-padding;
    }

	.menu-form-container {
		@include flex-centre;
	}
}

/* Main area */

.main-wrapper {
	flex-grow: 1;
	@include screen-lg {
		display: flex;
		justify-content: center;
	}
}

.main-right-spacer {
	width: 200px;
}

/* Sidebar */

.sidebar {
	@include screen-lg {
		width: 200px;
		padding: $global-padding 0;
	}

	@include screen-sm {
		padding: $mid-padding 0;
	}

	& > a {
		@include screen-lg {
			display: block;
			width: 100%;
		}
		
		border-radius: $border-radius;
		padding: $small-padding $mid-padding;
		color: black;

		&:hover {
			text-decoration: none;
		}
		
		&.active {
			background-color: $accent;
		}
	}
}

.sidebar-unread {
	background-color: $white-transparent;
	border: 1px solid $mid-bg;
	border-radius: $border-radius;
	padding: 0 $small-padding;
	margin-left: $small-padding;
	font-size: 14px;
}


/* Main */
@include screen-lg() {
	.sidebar ~ main {
		margin: 0 0 0 $global-padding;
	}
}

main {
	background-color: $main-bg;
	width: 1200px;
	padding-bottom: $global-padding;

	@include screen-sm {
		width: 100vw;
		margin: 0;
		padding-right: $mid-padding;
		padding-left: $mid-padding;
	}

	h1 {
		display: inline-block;
		text-transform: uppercase;
		border-bottom: 0.3rem solid $accent;
	}

	&> h1, & > h2, & > h3 {
		&:not(.no-margin) {
			margin-top: $header-margin;
		}
	}

	img {
		max-width: 100%;
	}

	.page-block {
		padding: $global-padding;
	}
}

/* PROFILE PAGE */
$profile-gap: 3rem;
$profile-padding: 1rem;

.owner-only {
	background-color: $base;
	opacity: 0.8;
	margin-top: $header-margin;
	padding: $global-padding;
	text-align: center;
}

.profile-banner {
	height: 240px;
	background-size: cover;
	background-position: center;
	@include screen-lg {
		width: 1200px;
	}
}

.profile-info {
	@include flex-wrap(row);
	padding: 0 $profile-gap $profile-padding;

	.profile-details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 $profile-padding;
	}

	.display-name {
		font-size: 18pt;
	}
}

.profile-avatar {
	height: 150px;
	margin-top: -75px;
	border-radius: $border-radius;
}

.profile-interact {
	margin-left: auto;
	@include flex-centre();
	gap: $profile-padding;

	form {
		margin: 0;
	}
}

.profile-menu {
	@include flex-wrap(row);
	background-color: $base;
	list-style-type: none;
	margin: 0;
	li {
		padding: $profile-padding;
		flex-basis: 0; 
		a {
			color: black;
		}
	}
}

.profile-highlight {
	@include flex-wrap(row);
	justify-content: center;
	padding: $profile-gap;
	gap: $profile-gap;
	img {
		width: 300px;
		height: 300px;
		object-fit: cover;
		object-position: center top;
		border-radius: $border-radius;
	}
}

.profile-custom {
	&:not(.customised) {
		padding: $profile-padding;
	}
}

/* EDIT PROFILE */
.image-preview {
	width: 150px;
}

.banner-image-preview {
	margin-top: $global-padding;
	margin-bottom: $global-padding;
	margin-left: -$global-padding;
	object-fit: cover;
	object-position: center;
	@include screen-sm {
		margin-right: -$global-padding;
	}
}

#editor {
	width: 100%;
	min-height: 50vh;
}  

/* ART PAGE */
.art-display-container {
	@include flex-centre();
	flex-direction: column;
}

.art-display {
	max-width: 100%;
}

.fave-button {
	background: none;
	border: none;
	display: inline-block;
	color: darkred;
	font-size: $large-text;
	cursor: pointer;
	user-select: none;
}

/* EDIT ART */
.image-input-wrapper {
	@include flex-wrap(row);
	align-items: center;
	padding: 1rem;
	&.deselected, &.dragging {
		background-color: $base;
		opacity: 0.5;
	}
	input[type="file"] {
		flex-grow: 1;
	}
	.image-buttons {
		color: gray;
	}
	.image-drag-handle {
		cursor: grab;
		padding: 0.5rem;
	}
	.image-preview {
		width: auto;
		max-height: 150px;
		max-width: 150px;
	}
}

/* FOLDER PAGE */
.folder-row {
	$folder-height: 220px;
	overflow-x: auto;
	gap: $profile-padding;
	white-space: nowrap;
	height: $folder-height;

	.folder {
		height: 200px;
		flex-basis: $folder-height;
		width: $folder-height;
		background-color: $base;
		padding: 13px;
		border-radius: $border-radius;
		display: inline-flex;
		flex-direction: column;
		color: black;
		white-space: initial;
		vertical-align: top;
	}

	.folder-thumbnail {
		flex-grow: 1;
		@include flex-centre();
		font-size: 60pt;
		color: $mid-bg;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-color: $base-highlight;
	}
	
	.folder-title {
		padding-top: $small-padding;
	}
}

.folder-badge-link {
	font-size: small;
	border: 1px solid #767676;
	border-radius: $border-radius-small;
	padding: $small-padding;
	color: #767676;
}

.collapse-link {
	@extend h3;
	color: black;
	font-weight: bold;
	display: block;
	margin-bottom: $small-padding;
	font-size: 15pt;
}

.tag-info {
	&.collapsing {
		height: 0;
		padding-bottom: 0;
		transition: all 0.01s linear;
	}
}

.tag {
	@extend .button-pill;
	min-width: auto;
	color: black;
	padding: $small-padding calc(4 * $small-padding);

	&.selected { 
		background-color: $mid-bg;
	}
}

.tag-highlight-image {
	width: 100px;
	height: 100px;
}

div[class$="-section"] {
	@include screen-lg {
		margin: $header-margin 0;
	}
	@include screen-sm {
		padding: $small-padding;
	}
}

.gallery {
	@include flex-wrap(row);
	gap: $profile-padding;
	@include screen-sm {
		justify-content: center;
	}
}

.wide-gallery {
	.gallery-thumbnail {
	}

	.gallery-description {
		flex-basis: 0;
		flex-grow: 1;
	}
}

.gallery-thumbnail {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	width: 224px;
	border: 1px solid $base;
	border-radius: $border-radius;
	overflow: hidden;
	position: relative;
	transition: 0.2s all linear;

	&.collapsed {
		width: 0px;
		opacity: 0;
	}

	&.empty {
		justify-content: center;
	}

	img {
		height: 224px;
		width: 224px;
		object-fit: cover;
		object-position: center top;
	}
	
	.gallery-thumbnail-badgerow {
		font-size: $large-text;
		display: flex;
		gap: $small-padding;
		position: absolute;
		top: $small-padding;
		right: $small-padding;
	}

	.gallery-thumbnail-badge {
		border-radius: $border-radius;
		color: white;
		background-color: $mid-bg;
		padding: 0 $small-padding;
		font-size: 10pt;
	}
}

/* Messages */

.mail-item.unread {
	background-color: $light-bg;
	font-weight: bold;
}

/* Notifications */

.notification-item {
	max-width: 1000px;
	background-color: $base;
	border: 1px solid $base-border;
	margin: $small-padding;
	padding: 0;
	border-radius: $border-radius;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	
	img {
		width: 48px;
		border-radius: 5px;
	}
}

.notification-message {
	padding: $small-padding;
	width: 100%;
}

.notification-left {
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: $small-padding;
	padding: $mid-padding;
	border-left: 8px solid transparent;

	&.unread {
		border-color: $accent;
	}
}

.dummy-checkbox {
	display: inline-block;
	
	input {
		display: none;
	}

	input:checked ~ .dummy-checkbox-box::after {
		content: "✔️";
	}
}

.dummy-checkbox-spacer {
	width: 1.6em;
	height: 1.6em;
}

.dummy-checkbox-box {
	@extend .dummy-checkbox-spacer;
	border: 1px solid $base-border;
}

.notification-respond {
	padding: 0 $small-padding;
	font-size: $large-text;
	@include flex-wrap(row);
}

/* Footer */

footer {
	padding: $global-padding calc(50% - 600px);
	@include screen-sm() {
		padding: $mid-padding;
	}
	background-color: $base;
}

.footer-columns {
	@include screen-lg {
		@include flex-centre();
		flex-direction: row;
	}
}

.footer-branding, .footer-link-wrapper {
	flex-grow: 1;
	flex-basis: 0;
	@include screen-lg {
		padding: 0 $global-padding $mid-padding 0;
	}
}

.footer-header {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 0.1rem solid $accent;
}

.footer-link {
	display: block;
	margin: $small-padding 0;
}

.footer-divider:before {
	content: "|";
	margin: 0 1rem;
}