$border-radius: 10px;
$border-radius-large: 15px;
$border-radius-small: 0.3rem;

$main-width: 1200px;
$global-padding: 3rem;
$small-padding: 0.3rem;
$mid-padding: 0.6rem;
$header-margin: 2rem;
$notification-max-width: 1000px;

$base: #F2FAFB;
$base-border: #A9C7C1;
$base-highlight: #e8e8e8;
$site-bg: white;
$main-bg: white;
$light-bg: #f5f5f5;
$white-transparent: rgba(255, 255, 255, 0.5);
$accent: #2CC4EB;
$mid-bg: #188EAC;
$mid-bg-transparent: #188EAC80;
$muted: #333;
$form-input-bg: white;

$large-text: 14pt;
$small-text: 9pt;