body {
  font-family: "Lato";
  background: #eee;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 13pt;
  }
}

/* GLOBAL STYLES */
.button-circle, .button-pill {
  background-color: #d9d9d9;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.button-pill {
  min-width: 10rem;
}

.button-circle {
  width: 2rem;
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  width: 100%;
  background-color: #d9d9d9;
  box-sizing: border-box;
  justify-content: space-between;
}
nav a {
  color: black;
}
nav a:hover, nav a:active {
  color: black;
  text-decoration: none;
}
nav .nav-left, nav .nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
}
nav .search-form, nav .nav-button, nav .menu-toggle-circle, nav .menu-toggle {
  font-size: 16pt;
  padding: 0.2rem;
  border-radius: 0.6rem;
}
nav .menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu-toggle-circle {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 100%;
}
nav .search-form, nav .nav-button {
  background-color: white;
}
nav .nav-button {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-button .nav-button-label {
  font-size: 13pt;
}
nav .nav-button .nav-button-label:not(:first-child) {
  margin-left: 0.8rem;
}
nav .search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .search-form input {
  border: none;
  font-size: 14pt;
}
nav .search-form button {
  background: none;
  border: none;
}
nav .collapse-container {
  position: absolute !important;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: #d9d9d9;
}
nav .collapse-container .collapse.show, nav .collapse-container .collapse.collapsing {
  justify-content: space-around;
}
nav .logo {
  padding: 0 1rem;
  font-size: 24pt;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
nav .menu-item {
  display: block;
  padding: 0.2rem;
}

main {
  margin: 0 auto;
  background-color: white;
  flex-grow: 1;
  max-width: 1200px;
  /* PROFILE */
  /* EDIT PROFILE */
}
@media screen and (min-width: 1200px) {
  main {
    width: 1200px;
  }
}
main .profile-banner {
  height: 240px;
}
@media screen and (min-width: 1200px) {
  main .profile-banner {
    width: 1200px;
  }
}
main .profile-info {
  display: flex;
  padding: 0 3rem 1rem;
}
main .profile-info .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
main .profile-info .display-name {
  font-size: 18pt;
}
main .profile-avatar {
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  margin-top: -75px;
  border-radius: 0.6rem;
}
main .profile-interact {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .profile-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d9d9d9;
  list-style-type: none;
  margin: 0;
}
main .profile-menu li {
  padding: 1rem;
  flex-basis: 0;
}
main .profile-menu li a {
  color: black;
}
main .profile-highlight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  gap: 3rem;
}
main .profile-highlight img {
  border-radius: 0.6rem;
}
main .profile-custom {
  background-color: #f5f5f5;
}
main .profile-custom:not(.customised) {
  padding: 1rem;
}
main .image-preview {
  width: 150px;
}
