@charset "UTF-8";
/* GLOBAL STYLES */
body {
  font-family: "Inter";
  background: white;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 13pt;
  }
}

h1, h2, h3, .collapse-link {
  margin-top: 2rem;
}

a.link-current {
  font-weight: bold;
}
a.link-current::after {
  content: "◀";
}

.button-circle, .button-pill, .tag {
  background-color: #d9d9d9;
  height: 2rem;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.button-pill, .tag {
  min-width: 10rem;
  border: none;
  cursor: pointer;
}
.button-pill:hover, .tag:hover {
  text-decoration: none;
  color: initial;
  background-color: #e8e8e8;
}

.button-circle {
  width: 2rem;
}

.upside-down {
  transform: rotate(180deg);
}

/* BOOTSTRAP */
.bg-danger {
  color: white;
}

.modal-dialog {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NAVIGATION */
nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #d9d9d9;
  box-sizing: border-box;
  justify-content: space-between;
}
nav a {
  color: black;
}
nav a:hover, nav a:active {
  color: black;
  text-decoration: none;
}
nav .nav-left, nav .nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  nav .nav-right {
    justify-content: flex-end;
  }
  nav .nav-left {
    flex-basis: 60%;
    justify-content: flex-start;
  }
}
nav .search-form, nav .nav-button, nav .menu-toggle-circle, nav .menu-toggle {
  font-size: 16pt;
  padding: 0.3rem;
  border-radius: 10px;
}
nav .menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu-toggle-circle {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 100%;
}
nav .search-form, nav .nav-button {
  background-color: white;
}
nav .nav-button {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-button .nav-button-label {
  font-size: 13pt;
}
nav .nav-button .nav-button-label:not(:first-child) {
  margin-left: 0.8rem;
}
nav .search-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  nav .search-form {
    width: calc(100% - 3rem);
  }
}
nav .search-form input {
  border: none;
  font-size: 14pt;
  width: 100%;
}
nav .search-form button {
  background: none;
  border: none;
}
nav .collapse-container {
  position: absolute !important;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: #d9d9d9;
}
nav .collapse-container .collapse.show, nav .collapse-container .collapse.collapsing {
  justify-content: space-around;
}
nav .logo-small, nav .logo {
  padding: 0 1rem;
  font-size: 24pt;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  nav .logo {
    display: none;
  }
}
nav .logo-small {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .logo-small {
    display: inline-block;
  }
}
nav .menu-item {
  display: block;
  padding: 0.3rem;
}
nav .menu-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0 auto;
  background-color: white;
  flex-grow: 1;
  width: 1200px;
  padding-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    margin: 0;
  }
}
main img {
  max-width: 100%;
}
main .page-block {
  padding: 3rem;
}

/* PROFILE PAGE */
.owner-only {
  background-color: #d9d9d9;
  opacity: 0.8;
  margin-top: 2rem;
  padding: 3rem;
  text-align: center;
}
.owner-only h2 {
  margin-top: 0;
}

.profile-banner {
  height: 240px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .profile-banner {
    width: 1200px;
  }
}

.profile-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 3rem 1rem;
}
.profile-info .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.profile-info .display-name {
  font-size: 18pt;
}

.profile-avatar {
  height: 150px;
  background-color: #d9d9d9;
  margin-top: -75px;
  border-radius: 10px;
}

.profile-interact {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d9d9d9;
  list-style-type: none;
  margin: 0;
}
.profile-menu li {
  padding: 1rem;
  flex-basis: 0;
}
.profile-menu li a {
  color: black;
}

.profile-highlight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  gap: 3rem;
}
.profile-highlight img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.profile-custom:not(.customised) {
  padding: 1rem;
}

/* EDIT PROFILE */
.image-preview {
  width: 150px;
}

.banner-image-preview {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: -3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 768px) {
  .banner-image-preview {
    margin-right: -3rem;
  }
}

#editor {
  width: 100%;
  min-height: 50vh;
}

/* ART PAGE */
.art-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.art-display {
  max-width: 100%;
}

/* EDIT ART */
.image-input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}
.image-input-wrapper.deselected, .image-input-wrapper.dragging {
  background-color: #d9d9d9;
  opacity: 0.5;
}
.image-input-wrapper input[type=file] {
  flex-grow: 1;
}
.image-input-wrapper .image-buttons {
  color: gray;
}
.image-input-wrapper .image-drag-handle {
  cursor: grab;
  padding: 0.5rem;
}
.image-input-wrapper .image-preview {
  width: auto;
  max-height: 150px;
  max-width: 150px;
}

/* FOLDER PAGE */
.folder-row {
  overflow-x: auto;
  gap: 1rem;
  white-space: nowrap;
  height: 220px;
}
.folder-row .folder {
  height: 200px;
  flex-basis: 220px;
  width: 220px;
  background-color: #d9d9d9;
  padding: 13px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  color: black;
  white-space: initial;
  vertical-align: top;
}
.folder-row .folder-thumbnail {
  flex-grow: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8e8e8;
}
.folder-row .folder-title {
  padding-top: 0.3rem;
}

.folder-badge-link {
  font-size: small;
  border: 1px solid #767676;
  border-radius: 0.3rem;
  padding: 0.3rem;
  color: #767676;
}

.collapse-link {
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 15pt;
}

.tag {
  min-width: auto;
  color: black;
  padding: 0.3rem 1.2rem;
}

@media screen and (min-width: 1200px) {
  div[class$=-section] {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 768px) {
  div[class$=-section] {
    padding: 0.3rem;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .gallery {
    justify-content: center;
  }
}

.gallery-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14pt;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.gallery-thumbnail img {
  height: 224px;
  width: 224px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.gallery-thumbnail .gallery-thumbnail-badgerow {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}
.gallery-thumbnail .gallery-thumbnail-badge {
  border-radius: 10px;
  color: white;
  background-color: #A9A9A9;
  padding: 0 0.3rem;
  font-size: 10pt;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  background-color: #d9d9d9;
  text-align: center;
}
footer .footer-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer .footer-link {
  font-weight: bold;
}
footer .footer-divider:before {
  content: "|";
  margin: 0 1rem;
}
